.firsth1{
    text-align: center;
    padding-top: 50px;
    color: rgb(69, 15, 1);
}
.secondh1{
    text-align: center;
    padding-top: 5px;
    color: rgb(69, 15, 1);
}
span{
    color: rgb(5, 85, 114);
}
.body-p{
    text-align: center;
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
    color: rgb(69, 15, 1);

}
.bodyfirst-btn{
    min-height: 35px;
    min-width: 150px;
    border-color: #fff;
    background-color: rgb(23, 135, 176);
    color: #fff;
    font-size: 15px;
    padding: 0 10px;
    margin: 40px 10px;
    cursor: pointer;
}
button:hover{
    background-color:#fff;
    color: rgb(23, 135, 176);
    
}
.btn_div{
    width: 100%;
    display: flex;
    justify-content: center;
    
}